USE [SOF_SircaNac]
GO
/****** Object:  StoredProcedure [dbo].[SPAGREGARNUMERODECREDITO]    Script Date: 02/11/2019 13:11:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SPAGREGARNUMERODECREDITO]
AS
BEGIN
	-- ESTE STORED PROCEDURE ES PARTE DEL PROCESO ARQUEO2019
	-- STORED PROCEDURE CREADO POR EL ING. LUIS ANTONIO RODRIGUEZ GARCIA 
	-- FECHA FEBRERO 2019
	DECLARE 
			@NUMCREDITO			AS	VARCHAR(9),
			@RPU				AS	VARCHAR(12),
			@PAGOSPENDIENTES	AS INT 

	SET @RPU = NULL
	SET	@NUMCREDITO = NULL 
	SET @PAGOSPENDIENTES = 0

	-- ESTE PROCESO OBTENDRA EL NUMERO DE CREDITO DEL RPU CON EL CUAL LLEGA EL PAGO 
		
	SELECT @PAGOSPENDIENTES = COUNT(A.RPU)
	FROM [SOF_SIRCANAC].[HISTORICO].[ARQUEO] A	
	WHERE NUMCREDITO IS NULL 		
		
	PRINT @PAGOSPENDIENTES		
	IF @PAGOSPENDIENTES > 0
	BEGIN
		WHILE @PAGOSPENDIENTES > 0
		BEGIN
			SELECT TOP 1 @RPU = A.RPU
			FROM [SOF_SIRCANAC].[HISTORICO].[ARQUEO] A	
			WHERE NUMCREDITO IS NULL 
	
			-- TRAEMOS EL NUMERO DE CREDITO DEL RPU 
			SELECT TOP 1 @NUMCREDITO = NUMCREDITO
			FROM SIRCANAC.DBO.CREDITOS
			WHERE RPU = @RPU  AND ESTATUSCREDITO NOT IN (8,9,25,92)

			IF @NUMCREDITO IS NULL
			BEGIN
				SET @NUMCREDITO='000000000'
			END 
			--UPDATEO EL NUMERO DE CREDITO EN LA TABLA ARQUEO
			UPDATE [SOF_SIRCANAC].[HISTORICO].[ARQUEO] 	
			SET NUMCREDITO = @NUMCREDITO
			WHERE RPU = @RPU

			SET @RPU = NULL
			SET @NUMCREDITO = NULL 
			SET @PAGOSPENDIENTES = 0

			SELECT @PAGOSPENDIENTES = COUNT(A.RPU)
			FROM [SOF_SIRCANAC].[HISTORICO].[ARQUEO] A	
			WHERE NUMCREDITO IS NULL 
		END
	END
END
