USE [SOF_SircaNac]
GO
/****** Object:  StoredProcedure [dbo].[SPASIGNARPRODUCTO]    Script Date: 02/11/2019 19:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SPASIGNARPRODUCTO]
AS
BEGIN
	DECLARE 
			@PRODUCTO		AS VARCHAR(2),
			@RPU			AS	VARCHAR(12),
			@PRODPENDIENTE	AS INT,
			@MOTIVO			AS VARCHAR(2) 

	SET @RPU = NULL
	SET @PRODPENDIENTE = 0
	SET @MOTIVO = NULL
	SET @PRODUCTO = NULL

	-- ESTE PROCESO OBTENDRA EL NUMERO DE CREDITO DEL RPU CON EL CUAL LLEGA EL PAGO 
		
	SELECT @PRODPENDIENTE = ISNULL(COUNT(A.Mot),0)
	FROM [SOF_SIRCANAC].[HISTORICO].[ARQUEO] A	
	WHERE A.PRODUCTO IS NULL 		
	
	IF @PRODPENDIENTE > 0 
	BEGIN
		WHILE  @PRODPENDIENTE > 0
		BEGIN
			SELECT TOP 1 @PRODUCTO=CASE	WHEN A.MOT IN('95','RE') THEN 'RF'
										WHEN A.MOT IN('96', 'AA', 'AD' ) THEN 'AA'
										WHEN A.MOT IN('GF' ) THEN 'PA'
										WHEN A.MOT IN('GG' ) THEN 'LD'
										WHEN A.MOT IN('19' ) THEN 'MT'
										WHEN A.MOT IN('GH' ) THEN 'CV' 
										WHEN A.MOT IN('GI' ) THEN 'PR' 
										WHEN A.MOT IN('97','AT' ) THEN 'AT' 
										END
						,@RPU = A.RPU
						,@MOTIVO = A.MOT																																																									
			FROM [SOF_SIRCANAC].[HISTORICO].[ARQUEO] A	
			WHERE A.PRODUCTO IS NULL
			
			UPDATE  [SOF_SIRCANAC].[HISTORICO].[ARQUEO]
			SET PRODUCTO=@PRODUCTO
			WHERE RPU=@RPU AND MOT=@MOTIVO

			PRINT @PRODUCTO
			SET @RPU = NULL
			SET @PRODPENDIENTE = 0
			SET @MOTIVO = NULL
			SET @PRODUCTO = NULL
			SELECT @PRODPENDIENTE = ISNULL(COUNT(A.Mot),0)
			FROM [SOF_SIRCANAC].[HISTORICO].[ARQUEO] A	
			WHERE A.PRODUCTO IS NULL 	
			PRINT 'QUEDAN ' + convert(varchar,@PRODPENDIENTE) + ' MOTIVOS POR AGREGAR '
		END
	END
	ELSE 
	BEGIN
			PRINT 'NO SE ENCONTRARON MOTIVOS NULOS'
	END
END 



































