USE [SircaNac]
GO
/****** Object:  StoredProcedure [dbo].[SPADDIDREGISTROSSICOMOKTODET_AMORTIZACION]    Script Date: 10/12/2018 13:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SPADDIDREGISTROSSICOMOKTODET_AMORTIZACION]
	@NUMCREDITO AS VARCHAR(9)
AS
BEGIN
	DECLARE 
		@NUMAMORT		AS	INT,
		@IDRSOK			AS	INT,
		@IMPORTERSOK	AS	MONEY,
		@IMPORTETMP		AS	MONEY,
		@IMPORTEDESC	AS	MONEY,
		@IMPAMORT		AS	MONEY,
		@IDAMORT		AS	INT,
		@IDORIGINAL		AS	INT,
		@BANDERA		AS	INT,
		@BANDERAGENERAL	AS	INT
		
	SET @BANDERA = 0		
	SET @BANDERAGENERAL = 0
-- INICIALIZO VARIABLES
	SET @NUMAMORT = 0
	SET @IDRSOK = 0
	SET @IMPORTERSOK = 0
	SET @IMPORTETMP = 0
	SET @IMPORTEDESC = 0
	SET @IMPAMORT = 0
	SET @IDAMORT = NULL 
	SET @IDORIGINAL = NULL
	

	
-- OBTENGO LAS AMORTIZACIONES DEL CREDITO SIN ID 
	PRINT 'PROCESANDO EL CREDITO : ' + @NUMCREDITO
	SELECT @NUMAMORT=COUNT(*)
	FROM DET_AMORTIZACION WITH(NOLOCK)
	WHERE SOLICITUDSCC=@NUMCREDITO AND ESTATUS='14' AND (IDREGISTROSICOM IS NULL OR IDREGISTROSICOM IN ('0'))

	IF @NUMAMORT = 0
	BEGIN
		PRINT ' NO SE ENCONTRARON PAGOS SIN IDREGISTROSSICOMOK PARA EL CREDITO  ' 
		PRINT @NUMCREDITO
	END 

	WHILE @NUMAMORT > 0 AND @BANDERAGENERAL = 0
	BEGIN
		PRINT ' SE ENCONTRARON PAGOS SIN IDREGISTROSSICOMOK  ' + CONVERT(VARCHAR,@NUMAMORT)
		-- SE APLICA ESTE IMPORTE  
		SELECT TOP 1 @IDAMORT=PAGARE, @IMPAMORT=PAGODEC, @IDORIGINAL=IDRegistroSicom
		FROM DET_AMORTIZACION 
		WHERE SOLICITUDSCC=@NUMCREDITO AND ESTATUS='14' AND (IDREGISTROSICOM IS NULL OR IDREGISTROSICOM IN ('0'))
		ORDER BY FECHA ASC
		-- SE TOMA EL PRIMER IDREGISTROSICOMOK QUE NO SE ENCUENTRA EN DET_AMORTIZACION
		SELECT TOP 1 @IDRSOK=REG.ID, @IMPORTERSOK = REG.IMPORTE
		FROM REGISTROSSICOMOK REG
		WHERE REG.NUMCREDITO= @NUMCREDITO 
			AND  ID  not IN (SELECT distinct IDREGISTROSICOM FROM DET_AMORTIZACION DET WHERE DET.SOLICITUDSCC=@NUMCREDITO and IDREGISTROSICOM is not null and IDREGISTROSICOM not in ('0') )
			AND	 REG.IMPORTE >= @IMPAMORT
		ORDER BY ESTATUSFECHAENVIO DESC, IDCARGADIARIAFECHA ASC	
		PRINT 'EL ID DE REGISTROSSICOMOK ES:'+	CONVERT(VARCHAR,@IDRSOK)
		IF @IDRSOK IS NOT NULL 
		BEGIN
			IF @IMPAMORT = @IMPORTERSOK
			BEGIN
				PRINT 'SE ASIGNA EL ID A LA AMORTIZACÍON :' + CONVERT(VARCHAR,@IDAMORT)
				UPDATE DET_AMORTIZACION
				SET IDRegistroSicom=@IDRSOK
				WHERE solicitudscc=@NUMCREDITO AND pagare=@IDAMORT
				-- SE INSERTA LOG
				PRINT 'SE INSERTA LOG'
				INSERT INTO [SircaNac].[dbo].[LOG_SPADDIDREGISTROSSICOMOKTODET_AMORTIZACION]
				([numcredito],[numpago],[idoriginal],[idinsertado])
				SELECT @NUMCREDITO,@IDAMORT, @IDORIGINAL, @IDRSOK
			END
			IF @IMPAMORT < @IMPORTERSOK
			BEGIN 
				PRINT 'AQUI DEBE ENTRAR A UN CICLO'+CONVERT(VARCHAR,@IMPORTERSOK)
				SET @IMPORTETMP = @IMPORTERSOK
				SET @BANDERA = 0
				print 	'importetemporal:'+CONVERT(VARCHAR,@IMPORTETMP)+'bandera:'+ CONVERT(VARCHAR,@BANDERA) +'idamort:'+ CONVERT(VARCHAR,@IDAMORT) +'importeamort:'+ CONVERT(VARCHAR,@IMPAMORT) +'idoriginal:'+CONVERT(VARCHAR,@IDORIGINAL)
				WHILE @IMPORTETMP >= 0 AND @BANDERA = 0 AND  @IDAMORT IS NOT NULL  AND  @IMPAMORT IS NOT NULL AND  @IDORIGINAL IS NOT NULL 
				BEGIN
					BEGIN TRANSACTION 
						UPDATE DET_AMORTIZACION
						SET IDRegistroSicom=@IDRSOK
						WHERE solicitudscc=@NUMCREDITO AND pagare=@IDAMORT
						-- INSERTAMOS EL LOG 
						PRINT 'AQUI SE DEBE GUARDAR UN LOG'						
						INSERT INTO [SircaNac].[dbo].[LOG_SPADDIDREGISTROSSICOMOKTODET_AMORTIZACION]
						([numcredito],[numpago],[idoriginal],[idinsertado])
						SELECT @NUMCREDITO,@IDAMORT, @IDORIGINAL, @IDRSOK					
					
				
						SET @IMPORTETMP = @IMPORTETMP - @IMPAMORT
						-- AVANZAMOS LA AMORTIZACION 
						SET  @IDAMORT = NULL
						SET  @IMPAMORT = NULL
						SET  @IDORIGINAL = NULL		

						IF @IMPORTETMP > 0
						BEGIN 
							SELECT TOP 1 @IDAMORT=PAGARE, @IMPAMORT=PAGODEC, @IDORIGINAL=IDRegistroSicom
							FROM DET_AMORTIZACION With(Nolock)
							WHERE SOLICITUDSCC=@NUMCREDITO AND ESTATUS='14' AND (IDREGISTROSICOM IS NULL OR IDREGISTROSICOM IN ('0'))
							ORDER BY FECHA ASC
						END
						ELSE 
						BEGIN
							SET @BANDERA = 1 
						END
						IF @IMPORTETMP < @IMPAMORT
						BEGIN 
							SET @BANDERA = 1 
						END 					
					END
					COMMIT 
				END
			END
		ELSE
		BEGIN
			PRINT 'NO SE ENCONTRO AMORTIZACION PARA ESTE CREDITO'
			-- SE INSERTA LOG			
			PRINT 'AQUI SE DEBE GUARDAR UN LOG'
			INSERT INTO [SircaNac].[dbo].[LOG_SPADDIDREGISTROSSICOMOKTODET_AMORTIZACION]
				([numcredito],[numpago],observacion)
				SELECT @NUMCREDITO,@IDAMORT,'NO SE ENCONTRO AMORTIZACION PARA LLENAR EL PAGO'
		END
		
		
		SET @NUMAMORT=0
		SELECT @NUMAMORT=COUNT(*)
		FROM DET_AMORTIZACION WITH(NOLOCK)
		WHERE SOLICITUDSCC=@NUMCREDITO AND ESTATUS='14' AND (IDREGISTROSICOM IS NULL OR IDREGISTROSICOM IN ('0'))

		
		
		SELECT TOP 1 @IDRSOK=REG.ID, @IMPORTERSOK = REG.IMPORTE
		FROM REGISTROSSICOMOK REG
		WHERE REG.NUMCREDITO= @NUMCREDITO 
			AND  ID  not IN (SELECT distinct IDREGISTROSICOM FROM DET_AMORTIZACION DET WHERE DET.SOLICITUDSCC=@NUMCREDITO and IDREGISTROSICOM is not null and IDREGISTROSICOM not in ('0') )
			AND	 REG.IMPORTE >= @IMPAMORT
		ORDER BY ESTATUSFECHAENVIO DESC, IDCARGADIARIAFECHA ASC		
		
		SELECT TOP 1 @IDAMORT=PAGARE, @IMPAMORT=PAGODEC, @IDORIGINAL=IDRegistroSicom
		FROM DET_AMORTIZACION 
		WHERE SOLICITUDSCC=@NUMCREDITO AND ESTATUS='14' AND (IDREGISTROSICOM IS NULL OR IDREGISTROSICOM IN ('0'))
		ORDER BY FECHA ASC		
		IF @IDRSOK IS NULL OR @IMPORTERSOK < @IMPAMORT
		BEGIN 
			SET @BANDERAGENERAL = 1 
		END
		SET @IDRSOK = 0
		SET @IMPORTERSOK = 0
		SET @IMPAMORT = 0
		SET @IDAMORT = NULL 
		SET @IDORIGINAL = NULL
	END
PRINT 'LA RUTINA HA TERMINADO ...'
COMMIT 
END
